:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #192042;
  color: #fff;
  text-transform: uppercase;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  text-transform: uppercase;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.game__result-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  position: relative;
}

.game__result-image--rock,
.game__choice-button--rock {
  border: 20px solid coral;
}

.game__result-image--paper,
.game__choice-button--paper {
  border: 20px solid blue;
}

.game__choice-button--paper {
  position: relative;
  top: -50px;
  left: -50px;
}

.game__result-image--scissors,
.game__choice-button--scissors {
  border: 20px solid gold;
}

.game__choice-button--scissors {
  top: -50px;
  left: 50px;
}

.game__result-image--lizard,
.game__choice-button--lizard {
  border: 20px solid rgb(188, 59, 12);
}

.game__choice-button--lizard {
  top: -50px;
  left: 50px;
}

.game__result-image--spock,
.game__choice-button--spock {
  border: 20px solid rgb(255, 0, 21);
}

.game__choice-button--spock {
  top: -50px;
  left: 50px;
}

.game__choice-button {
  margin: 0 10px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: relative;
}

.game__choice-button--rock,
.game__choice-button--paper,
.game__choice-button--scissors,
.game__choice-button--lizard,
.game__choice-button--spock {
  border-width: 10px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
